{% extends 'kazakhstan_f/admin/base.html' %}
{% load static %}
{% block content %}
{% include 'kazakhstan_f/includes/adheader.html' %}

<div class="container-fluid">
    <div class="row ">
        {% include 'kazakhstan_f/includes/sidebar.html' %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Create managers</h1>
        </div>
         <!-- Contact Form-->
        <span class="mb-0 text-muted">
            {% if msg %}
                {{ msg | safe }}
            {% endif %}

            {% for error in form.errors %}
                {{ error }}
            {% endfor %}

        </span>
        <form method="POST" action="/adm/managers/update/{{ manager.id }}" class="w-25">
            {% csrf_token %}
            <div class="form-group">
                <label for="firstname">username</label>
                <input type="text" name="username" value="{{ manager.username }}" class="form-control" required="required"/>
            </div>
            <div class="form-group mt-4">
                <label for="lastname">Email</label>
                <input type="text" name="email" value="{{ manager.email }}" class="form-control" required="required"/>
            </div>
            <div class="form-group ">
                <button type="submit" class="btn btn-sm btn-success w-100 mt-5"><span class="glyphicon glyphicon-edit"></span> Update</button>
            </div>
        </form>
        </main>
    </div>
</div>
{% endblock content %}