{% extends 'kazakhstan_f/base.html' %}
{% load static %}

{% block content %}
    <div class="page">
      <!-- Page Header-->
      {% include 'kazakhstan_f/includes/header.html' %}
      <!-- Breadcrumbs -->
      <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-60">
          <div class="container">
            <h2 class="breadcrumbs-custom-title">Blog</h2>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Blog</li>
            </ul>
          </div>
          <div class="box-position" style="background-image: url(images/breadcrumbs-bg.jpg);"></div>
        </div>
      </section>
      <h1>Coming soon!</h1>
      <!-- Page Footer-->
      {% include 'kazakhstan_f/includes/footer.html' %}
    </div>

{% endblock %}